
.yellow{
  font-size: 35px;
  color: rgb(255, 149, 0);
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end ;
  
}
.red{
  font-size: 35px;
  color: red;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end ;
}

