
.yellow{

  font-size: 35px;
  color: #1f6cab;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end ;
  
}
.red{
  font-size: 35px;
  color: red;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end ;
}

.contenedorItemList{
  background: #082a3a;
  color: #1f6cab;
  text-decoration: none;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}